menu "ICM-20948 I2C DMP Interrupt Example"

    config ICM20948_I2C_DMP_INT_SCL_GPIO
        int "SCL GPIO number"
        default 3

    config ICM20948_I2C_DMP_INT_SDA_GPIO
        int "SDA GPIO number"
        default 9

    config ICM20948_I2C_DMP_INT_CS_GPIO
        int "CS GPIO number"
        default 18

    config ICM20948_I2C_DMP_INT_AD0_GPIO
        int "AD0 GPIO number"
        default 5

    config ICM20948_I2C_DMP_INT_GPIO
        int "INT1 GPIO number"
        default 4
        help
            GPIO connected to the ICM-20948 INT1 output.

endmenu
